@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy");
.App {
  text-align: center;
  background-image: url("../img/white-marble-background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Satisfy', cursive; }
