// @import "variables";

.Home {
  min-height: 100vh;
  margin-top: 10vh;

  @media (min-width: 30rem) {
    margin-top: 0;
  }

  p {
    font-size: 4rem;
    margin-bottom: 0;

    &:last-child {
      margin-top: 0;
    }
  }
}
